@import "utils/fonts";
@import "utils/variable";
@import "../components/header/header";
@import "../components/footer/footer";
@import "../components/nav/nav";
@import "../components/login/login";
@import "../components/button/button";
@import "../components/logo/logo";
@import "../components/input/input";
@import "../components/bulletList/bulletList";
@import "../components/checkbox/checkbox";
@import "../components/radio/radio";
@import "../components/toggle/toggle";
@import "../components/likeButton/likeButton";
@import "../components/rateButton/rateButton";
@import "../components/dropdown/dropdown";
@import "../components/amenitiesInput/amenitiesInput";
@import "../components/range/range";
@import "../components/pagination/pagination";
@import "../components/iconTextList/iconTextList";
@import "../components/comment/comment";
@import "../components/loginForm/loginForm";
@import "../components/registrationForm/registrationForm";
@import "../components/datepicker/datepicker";

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  box-sizing: border-box;

  font-family: $mainFonts;
  font-size: $fontSize;
  font-weight: 400;
  line-height: $lineHeight;
  color: rgba($mainColor, .75);
}

h1 {
  font-size: 24px;
  font-weight: 700;
  color: $mainColor;
}
h2 {
  font-size: 19px;
  font-weight: 700;
  color: $mainColor;
}
h3 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: $mainColor;
}


