@import "utils/fonts";
@import "utils/variable";
@import "../components/header/header";
@import "../components/footer/footer";
@import "../components/nav/nav";
@import "../components/login/login";
@import "../components/button/button";
@import "../components/logo/logo";
@import "../components/input/input";
@import "../components/bullet-list/bulletList";
@import "../components/checkbox/checkbox";
@import "../components/dropdown/dropdown";

body {
  margin: 0;
  box-sizing: border-box;

  font-family: $mainFonts;
  font-size: $fontSize;
  font-weight: 400;
  line-height: $lineHeight;
  color: rgba($mainColor, .75);
}

h1 {
  font-size: 24px;
  font-weight: 700;
  color: $mainColor;
}
h2 {
  font-size: 19px;
  font-weight: 700;
  color: $mainColor;
}
h3 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: $mainColor;
}


