mixin cardTitle(number, type, value)
    .cardTitle__container
        span.cardTitle__n №
        span.cardTitle__number= number
        span.cardTitle__type= type
    .cardTitle__container
        span.cardTitle__cost-value= value
        span.cardTitle__cost-text в сутки