@import "../../scss/utils/mixin";
@import "../../scss/utils/variable";

.toggle-button {
  @include inputAppearance(none);

  input[type=checkbox] {
    position: relative;

    width: 40px;
    height: 20px;
    margin: 0;
    margin-right: 10px;

    vertical-align: top;

    border: 1px solid rgba($mainColor, .25);
    border-radius: 10px;
    outline: none;
    cursor: pointer;

    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);

    &::after {
      content: "";

      position: absolute;
      left: 3px;
      top: 3px;

      width: 12px;
      height: 12px;
      background-color: rgba($mainColor, .25);
      border-radius: 50%;

      transform: translateX(0);

      transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
    }

    &:checked {
      border: 1px solid $purple;

      &::after {
        transform: translateX(calc(100% + 8px));
        background-color: $purple;
      }
    }
  }
}
