- var classes = ['header__login', 'login'];
- var list = ['войти', 'зарегистрироваться']
- var authorized = false

div(class=classes)
    if authorized
        span.login__name Юлий Цезарь
    else
        ul.login__buttons-list
          each item in list
              li.login__item
                button.login__button= item