@import "../../scss/utils/mixin";
@import "../../scss/utils/variable";

.rate-button {
  display: inline-flex;
  font-family: $iconsFonts;
  font-size: 24px;

  &__star {
    cursor: pointer;
    color: #bc9cff;
    background-color: #bc9cff;
    background-image: $primaryGradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &_disabled {
    pointer-events: none;
  }
}