@import "/src/assets/scss/utils/mixin";
@import "/src/assets/scss/utils/variable";

.button {
  padding: 9px 20px 10px 19px;
  border-radius: 22px;

  background: $primaryGradient;
  border: none;
  outline: none;
  cursor: pointer;

  font-family: $mainFonts;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  &:hover {
    opacity: .5;
  }

}

.button_opacity {
  color: $purple;
  padding: 2px;
  &:hover{
    color: $mainColor;
  }
}

.button_opacity span{
  padding: 7px 18px 8px;
  display: block;
  background: #fff;
  border-radius: 22px;
  &:hover {
  }

}