@import "/src/assets/scss/utils/mixin";

.header {
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
}

.header__wrapper {
  display: flex;
  max-width: 1160px;
  max-height: 70px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  ul {
    @include resetList
  }
}

.header__container {
  display: flex;
  align-self: flex-start;
  .header__nav {
    padding-top: 23px;
    padding-bottom: 23px;
  }
  .header__login {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

.header__logo {
  padding-top: 15px;
  padding-bottom: 8px;

}
