$mainFonts: "Montserrat", "Arial", sans-serif;

$mainColor: #1F2041;
$purple: #BC9CFF;
$green: #6FCF97;

$primaryGradient: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
$secondaryGradient: linear-gradient(180deg, $green 0%, #66D2EA 100%);


$fontSize: 14px;
$lineHeight: 24px;