include ../dropdown/dropdown
- var rooms = ['спальни', 'кровати', 'ванные комнаты']
- var guests = ['взрослые', 'дети', 'младенцы']

mixin amenitiesInput(list, selector, placeholder, isControl)
    form
        .input__container.amenitiesInput(data-attribute="dropdown" class = selector)
            input(type= "text" class= "input" placeholder= placeholder id= selector value= '' readonly)
            +dropdown("button", "input__button", "" )
            ul.amenitiesInput__list
                each item in list
                    li.amenitiesInput__item
                        p(data-attribute='input-title')= item
                        .amenitiesInput__container(data-attribute="input-buttons" data-title= item)
                            button(data-attribute="input-button" type= "button" data-button="minus") -
                            input(data-attribute="input-count" value="2" readonly)
                            button(data-attribute="input-button" type= "button" data-button="plus") +
                if isControl
                    .amenitiesInput__button-container
                        button(type= "reset") Очистить
                        button(type= "submit") Применить

//+amenitiesInput(rooms, "room", "2 спальни, 2 кровати...", false)
//+amenitiesInput(guests, "guest", "3 Гостя", true)
