#slider.splide
    .splide__arrows
        button.splide__arrow.splide__arrow--prev
            span.material-icons expand_more

        button.splide__arrow.splide__arrow--next
            span.material-icons expand_more
    .splide__track
        ul.splide__list
            li.splide__slide
                img(src='../assets/img/img.jpg' width=270 height=150)
            li.splide__slide
                img(src='../assets/img/img2.jpg' width=270 height=150)
            li.splide__slide
                img(src='../assets/img/img3.jpg' width=270 height=150)
            li.splide__slide
                img(src='../assets/img/img3.jpg' width=270 height=150)
