@import "/src/assets/scss/utils/mixin";
@import "/src/assets/scss/utils/variable";

.search-room {
  @include cardStyle();
  padding-top: rem(39px);

  input[type=text] {
    margin-bottom: 0;
  }
  &__item {
    &:last-child {
      margin-top: 31px;
    }
  }


}