include ../button/button
include ../datepicker/datepicker
include ../amenitiesInput/amenitiesInput

form.search-room
    ul.search-room__list
        li.search-room__item
            h1.search-room__title Найдём номера под ваши пожелания
        li.search-room__item
            +datepicker
        li.search-room__item
            h3 гости
            +amenitiesInput(guests, "guest", "Сколько гостей", true)
        li.search-room__item
            +button(false, 'button button_form', 'подобрать номер', 'arrow_forward')

