doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='initial-scale=1.0, width=device-width')
        link(href="https://fonts.googleapis.com/css2?family=Material+Icons"
            rel="stylesheet")
        title Toxin
    body
        include assets/components/amenitiesInput/amenitiesInput

